
* {padding: 0; margin: 0;}

.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
}
.nav{
    background-color: bisque;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.content{
    background-color: antiquewhite;
}
.element{
    border-radius: 0.5rem;
    width: 100%;
    height: 12vh;
    background-color: rgb(179, 179, 179);
}