
$p-xxxs : 0.125rem;
$p-xxs : 0.25rem;
$p-xs : 0.5rem;
$p-s : 0.75rem;
$p-sm : 1rem;
$p-m : 1.25rem;
$p-l : 2rem;
$p-xl : 2.5rem;
$p-xxl : 3rem;
$p-xxxl : 3.5rem;

$m-xxxs : 0.125rem;
$m-xxs : 0.25rem;
$m-xs : 0.5rem;
$m-s : 0.75rem;
$m-sm : 1rem;
$m-m : 1.25rem;
$m-l : 2rem;
$m-xl : 2.5rem;
$m-xxl : 3rem;
$m-xxxl : 3.5rem;



/* Padding */

.p-xxxs {
    padding: $p-xxxs;
}
.p-xxs {
    padding: $p-xxs;
}
.p-xs {
    padding: $p-xs;
}
.p-s {
    padding: $p-s;
}
.p-sm {
    padding: $p-sm;
}
.p-m {
    padding: $p-m;
}
.p-l {
    padding: $p-l;
}
.p-xl {
    padding: $p-xl;
}
.p-xxl {
    padding: $p-xxl;
}
.p-xxxl {
    padding: $p-xxxl;
}

/* Margin */

.m-xxxs {
    margin: $p-xxxs;
}
.m-xxs {
    margin: $p-xxxs;
}
.m-xs {
    margin: $p-xxxs;
}
.m-s {
    margin: $p-xxxs;
}
.m-sm {
    margin: $p-xxxs;
}
.m-m {
    margin: $p-xxxs;
}
.m-l {
    margin: $p-xxxs;
}
.m-xl {
    margin: $p-xxxs;
}
.m-xxl {
    margin: $p-xxxs;
}
.m-xxxl {
    margin: $p-xxxs;
}