@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600&display=swap');

body{
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: #161717;
    color: white;
}
.module {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: flex-start;
}
.container{
    width: 100%;
    max-width: 400px;
}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: flex-start;
    gap: 12px;
}
.form-element{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
}
input{
    background-color: #212121;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight:normal;
    height: 40px;
    outline: none;
}
input:hover{
    background-color: #454045;
}

.btn{
    background-color: #ea4c89;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 16px;
    width: 100%;
    max-width: 200px;
}